.page {
  &__section {
    width: 100%;
    &:first-of-type {
      .page__container:first-of-type {
        @media (max-width: 1300px) {
          padding-top: 60px;
        }
      }
    }
  }

  &__container {
    max-width: 1200px;
    padding: 25px 10px;
    margin: 0 auto;
  }
  &__grid-half {
    width: calc(50% - 10px);
    @media (max-width: 1023px) {
      width: 100%;
    }
  }
  &__grid-quarter {
    width: calc(25% - 10px);
    @media (max-width: 1023px) {
      width: calc(50% - 10px);
    }
    @media (max-width: 479px) {
      width: 100%;
    }
  }
  &__grid-half,
  &__grid-quarter {
    margin-bottom: 1em;
  }

  &__divider {
    width: calc(100% - 0px);
    height: 1px;
    background-color: #000;
    opacity: 0.1;
    margin: 2em auto;
  }
}
