.ui.purple.button, .ui.purple.buttons .button {
  //color: #000;
  background-image: url('../../components/Lockscreen/LockscreenBg.png');
  background-size: cover;
  background-position: left center;
}