/* NOTEPAD GLOBAL */

.notes_container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.note_element {
    position: relative;
    width: 250px;
    height: 250px;
    /*float: left;*/
    font-weight: bold;
    background-color: #fcf59b;
    border-bottom-right-radius: 210px 15px;
    -webkit-box-shadow: -3px 5px 12px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -3px 5px 12px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -3px 5px 12px 0 rgba(0, 0, 0, 0.3);
    margin: 10px;
    transition: all .2s ease;
    transition-property: width, height;
}

.note_element::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 20px;
    -webkit-box-shadow: 3px 17px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 3px 17px 6px rgba(0, 0, 0, .3);
    box-shadow: 3px 17px 6px rgba(0, 0, 0, .3);
    bottom: 15px;
    right: 5px;
    -ms-transform: skew(-10deg, 2deg);
    -webkit-transform: skew(-10deg, 2deg);
    transform: skew(-10deg, 2deg);
}

.note_element textarea,
.note__urlify {
    border: 0;
    resize: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    padding: 20px;
    color: #202013;
    font-family: 'Kalam', cursive;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2857;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: justify;
    white-space: pre-wrap;
}

.note_element textarea:focus {
    background-color: rgba(0, 0, 0, 0.04);
}

.note__urlify {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    color: transparent;
}

.note__urlify a {
    pointer-events: auto;
    color: #5a0ac2;
}

/* ERROR */
.note_element.error {
    background-color: #fa6161;  /* TODO - maybe another color */
}

.note_element.deleting {
    background-color: #fa6161;
    transition-property: transform;
    transform: rotate(-45deg);
    transform-origin: center left;
}

.note_element__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgba(230, 33, 23, 0.7);
    transform: scaleX(0);
    transform-origin: 0;
}

.note_element__progress.fill {
    transform: scaleX(1);
}

.note_element__progress:not(.fill) {
    transition-duration: 0s !important;
}

@media screen and (max-width: 1023px) {
    .note_element {
        width: 200px;
        height: 200px;
        /*margin: 5px;*/
    }

    .note_element textarea {
        font-size: 18px;
        padding: 5px;
    }

}

@media screen and (max-width: 479px) {
    .note_element {
        width: 150px;
        height: 150px;
        margin: 5px;
    }

    .note_element textarea {
        font-size: 13px;
        padding: 5px;
    }

}


/* NOTEPAD SUBPAGE */

section.notes {

}

.notes_search {
}

.notes_search .ui.input {
    width: 100%;
    margin-bottom: 1em;
}

.notes_search input[type="text"] {
    width: 100%;
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 479px) {
}
