.todos {
  &__page &__list {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  &__page &__list .todo_element {
    margin: 0 0.714em 1.429em;

    &--new {
      cursor: pointer;
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon {
        transition: all 0.2s ease;
      }
      &:hover .content .icon {
        font-size: 6em;
      }
    }
  }
}
