.multisearch {
  position: relative;

  &__results {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;

    &.ui.table {
      margin: 0;
    }

    &.ui.table td:not(.no-data) {
      padding: 0;
    }

    &.ui.table td.data-cell-scroll {
      overflow-x: auto;
    }

  }

  &__result-notes {
    display: flex;
    position: absolute;
    top: 0;
  }

  .note-element {
    font-size: 6px;

    &:nth-child(n+9) {
      display: none;
    }
  }
}
