.PageStart {
  &__first-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .multisearch {
      margin-bottom: 25px;
    }
    .multicontent {
      margin-bottom: 25px;
    }

    .dates,
    .todos {
      .ui.card {
        width: 100%;
        & > .content > .header {
          max-height: calc(1.278em * 1);
          overflow: hidden;
        }
        & > .content > .header:hover {
          overflow: visible;
        }
        & > .extra.content {
          font-size: 0.85714em;
          color: rgba(0, 0, 0, 0.6);
          padding: 0.5em 0.75em;
        }
      }
    }

    .todos {
      .ui.card {
        box-shadow: 0 0 0 1px #d4d4d5, 0 3px 0px 1px #00b5ad, 0 1px 3px 0 #d4d4d5;
      }
    }

    .title {
    }

    @media (max-width: 1023px) {
    }
  }
}

//TODO - rest to sort ###########################

#main_page_notes .notes_title {
  flex-basis: 100%;
}

#main_page_notes .notes_more {
  flex-basis: 100%;
  margin-top: 20px;
  text-align: center;
}
