.todos {
  &__list {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  &__list .todo_element {
    margin: 0 10px 20px;

    &--new {
      cursor: pointer;
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
       .icon {
        transition: all .2s ease;
        opacity: .5;
      }
      &:hover .icon {
        transform: scale(1.25);

      }
    }

    .field.deadline {
      max-height: 100px;
      transition-property: margin, max-height;
      transition-duration: .4s;
      transition-timing-function: ease-out;
      overflow: hidden;
    }

    &.done {
      opacity: .2;
      transition: opacity .3s ease;
      transition-delay: .3s;
    }

    &:not(.deadline) {
      .field.deadline {
        max-height: 0;
        margin: 0;
      }
    }
  }
}