.lockscreen {
    color: #ffffff;
    margin: 0px;
    background-image: url('LockscreenBg.png');
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes downFadeIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    25% {
        transform: translateY(-100px);
        opacity: 0;
    }
    65% {
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

.lockscreen__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: downFadeIn;
    animation-duration: 1.5s;
}

.lockscreen__title {
    font-size: 18px;
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.lockscreen__inputs {
    margin-bottom: 22px;
}

.lockscreen [data-input] {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    margin: 11px;
    display: inline-block;
    border-radius: 50%;
}

.lockscreen [data-input].filled {
    background-color: white;
}

.lockscreen--allowed [data-input].filled {
    border-color: #00ff00;
    background-color: #00ff00;
    transition: border-color .3s ease, background-color .3s ease;
}

.lockscreen__buttons_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.lockscreen [data-button] {
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    padding: 0;
    font-size: 36px;
    color: #ffffff;
    font-family: 'Work Sans', Arial, sans-serif; font-weight: 100;
    margin: 8px;
    border: 1px solid #ffffff;
    line-height: 30px;
    border-radius: 50%;
    background-color: transparent;
    outline: 0;
    transition: all 0.1s ease;
}

.lockscreen [data-button]:active {
    background-color: white;
}

.lockscreen--locked [data-button]:active {
    background-color: red;
}

.lockscreen [data-button]::after {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 13px;
    font-weight: normal;
}

.lockscreen [data-button="1"]::after { content: '\0000a0'; }
.lockscreen [data-button="2"]::after { content: 'abc'; }
.lockscreen [data-button="3"]::after { content: 'def'; }
.lockscreen [data-button="4"]::after { content: 'ghi'; }
.lockscreen [data-button="5"]::after { content: 'jkl'; }
.lockscreen [data-button="6"]::after { content: 'mno'; }
.lockscreen [data-button="7"]::after { content: 'pqrs'; }
.lockscreen [data-button="8"]::after { content: 'tuv'; }
.lockscreen [data-button="9"]::after { content: 'wxyz'; }
