.PageStart {

  &__first-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .start_form {
      flex-basis: calc(50% - 10px);
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      margin-bottom: 25px;
    }

    .start_form_title {
      flex-basis: 100%;
    }

    .start_form textarea {
      margin-right: 10px;
      width: 100%;
      flex-grow: 1;
      flex-basis: 0;
    }

    @media (max-width: 1023px) {
      .start_form {
        flex-basis: 100%;
      }
    }
  }
}

//TODO - rest to sort ###########################
.main_page_dates {
  flex-basis: calc(25% - 10px);
  margin-bottom: 40px;
}

.main_page_dates .ui.card {
  width: 100%;
}

.main_page_dates .ui.card > .content > .header {
  max-height: calc(1.278em * 1);
  overflow: hidden;
}

.main_page_dates .ui.card > .content > .header:hover {
  overflow: visible;
}

.main_page_dates .ui.red.card {
  box-shadow: 0 0 0 1px #d4d4d5, 0 3px 0px 1px #db2828, 0 1px 3px 0 #d4d4d5;
}

.main_page_dates .ui.teal.card {
  box-shadow: 0 0 0 1px #d4d4d5, 0 3px 0px 1px #00b5ad, 0 1px 3px 0 #d4d4d5;
}

@media (max-width: 1023px) {
  .main_page_dates {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 479px) {
  .main_page_dates {
    flex-basis: 100%;
  }
}

#main_page_notes .notes_title {
  flex-basis: 100%;
}

#main_page_notes .notes_more {
  flex-basis: 100%;
  margin-top: 20px;
  text-align: center;
}