.docs {
  &__card {
    height: 100%;
    &--placeholder {
      a {
        pointer-events: none;
      }
    }
    &-thumb {
      overflow: hidden;
    }
    &-html {
      height: 200px;
      padding: 1em;
      &:not(&--new) {
        width: 200%;
      }
      &--new {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          .icon {
            font-size: 5em;
          }
        }
      }
    }
  }
}
